body {
	margin-top: 0em;
	background: url('images/background.png');
  font-family: "helvetica"; 
	color: #ffffff;
}
#container {
	border-top:20px solid #DDB200;
	border-bottom:20px solid #DDB200;
  margin: 0 auto;
  width: 700px;
  background:#222222;
  padding:0.5em 3em;
}
h1 { font-size: 3.8em; color: #A8A800; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #F75611; }
h3 {  color: #F75611; }
a { color: #FFE435; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
ul li:before { content: "\00BB"; padding-right: 0.2em;} 
li {list-style-type: none;}
